---
import Icon from "astro-icon";
import RowEntry from "../components/RowEntry.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SocialIcon from "../components/SocialIcon.astro";

import { SITE_TITLE } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
  </head>
  <body class="dark:bg-black">

    <div class="text-center mb-3">
      <h1 class="text-2xl font-bold mb-1 dark:text-white">Van Lam Nguyen</h1>
      <h2 class="text-base dark:text-white">Backend Developer</h2>
      <h3 class="text-base dark:text-white">
        <a
          href="tel:+49 1234 567890"
          class="hover:text-red-500 dark:text-white dark:hover:text-red-500"
          >+84 xxx761(VN)
        </a>
        |
        <a
          href="mailto:vanlam1412@gmail.com"
          class="hover:text-red-500 dark:text-white dark:hover:text-red-500"
          >vanlam1412@gmail.com</a
        >
      </h3>
    </div>

    <div id="summary" class="mb-6">
      <SectionTitle title="Summary" />
      <RowEntry
        text="Utilize web development skills to identify website vulnerabilities, thereby contributing to the growth of your company."
      />
    </div>

    <div id="skills" class="mb-6">
      <SectionTitle title="Technical skills" />

    <b>Programming Languages</b>   
    <p>+ Golang, Python</p>

    <b>Frameworks/	Platforms:</b>
    <p>+ Echo, FastAPI</p>
    
    <b>Database	Management Systems</b>
    <p>+ PostgreSQL</p>

    <b>Version	Control</b>
    <p>+ Git</p>

    <b>Containerization</b>
    <p>+ Docker</p>
    
    <b>Others</b>
    <p>+ Capable of exploiting web and app security vulnerabilities
    </p>
    

    </div>

    <div id="education" class="mb-6">
      <SectionTitle title="Education" />

      <RowEntry
        name="09/2020 - 04/2022"
        title="Nam Sai Gon Polytechnic College"
      />
      <div class="mt-5">
        <p>Study information systems</p>
      <p>I graduated with honors and actively reported errors in the school's operational products</p>

      </div>
      
    </div>
    

    <div id="work" class="mb-6">
      <SectionTitle title="Working experience" />

      <RowEntry
        name="10/2023 - now"
        title="LinkpowerVN"
        subTitle="(Junior Back-End Developer)"
      />

      <div class="mt-5">
        <a href="https://linkpower.vn/" target="_blank" style="color: blue;">LinkpowerVN</a> - Human Resources and Leadership training academy 
      </div>

      <div class="mt-5">
        Operating since 2013, up to now, Link Power Trading Services Company Limited (Link Power) has affirmed its position and reputation in the field of Public training, In-house training and business consulting
      </div>
      
      <div class="mt-5">
        <b>Project Description</b>
        <p>LinkPower E-Learning is a project born to serve as an online teaching platform, the content streamed online on the web is short training content, this is an online HR learning website developed using Go and Web API</p>
      </div>

      <div class="mt-5">
        <b>Team size: 2</b>
      </div>

      <div class="mt-5">
       <b>Responsibilities</b>
       <p>+ Deploy solutions (backend) based on requests from stakeholders, 
        implement additional functionality for the e-learning application, 
        collaborate with team leaders to identify and improve team work processes and ensure product quality to avoid easily exploitable security holes
        </p>
        <p>+ Coding, Fix bug, Unit test, Pentest</p>
       <b>Technologies</b>
       <p>Golang, PostgreSQL, Docker, Git</p>
      </div>
      
      
    </div>

    <div id="honors_awards" class="mb-6">
      <SectionTitle title="HONORS & AWARDS" />

      <RowEntry
        description=""
        name="03/2022"
        title="Bug Bounty (CVE-2017-5487)"
      />
      <div class="mt-5">
        <p>Vulnerability discovered on WordPress platform, on a school website (CVE-2017-5487) Bonus: 500,000 VND (awarded by Nam Sai Gon Polytechnic College)</p>
      </div>
      <div class="mt-5">
       <b>Details of the vulnerability</b>
       <a href="https://vanlam2001.github.io/blog/cve-2017-5487-NSG/" target="_blank" style="color: blue;">https://vanlam.online/cve-2017-5487-NSG</a>
      </div>

      <div class="mt-5">
        <b>Discovering Product Flaws</b>
        <a href="https://namsaigon.edu.vn" target="_blank" style="color: blue;">https://namsaigon.edu.vn</a>
       </div>
    
      <div class="mt-5">
        <RowEntry 
        description=""
        name="09/2020"
        title="Bug Bounty (CVE-2017-9248)"
      />
      <div class="mt-5">
        <p>Vulnerability discovered on Telerik platform (.NET) on a school website (CVE-2017-9248). Bonus: 1,500,000 VND (awarded by Nam Sai Gon Polytechnic College)</p>
      </div>

      <div class="mt-5">
        <b>Details of the vulnerability</b>
        <a href="https://vanlam2001.github.io/blog/cve-2017-9248-NSG/" target="_blank" style="color: blue;">https://vanlam.online/cve-2017-9248-NSG</a>
       </div>
 
       <div class="mt-5">
         <b>Discovering Product Flaws</b>
         <a href="https://namsaigon.phanmemdaotao.com/" target="_blank" style="color: blue;">https://namsaigon.phanmemdaotao.com/</a>
        </div>
      </div>
    </div>

    <div id="social" class="justify-center flex flex-row mb-2">
      <div class="mr-4">
        <SocialIcon
          icon="fa-brands:github"
          label="github"
          url="https://www.github.com/vanlam2001"
        />
      </div>
      <div class="mr-4">
        <SocialIcon
          icon="fa-brands:linkedin"
          label="linkedin"
          url="https://www.linkedin.com/in/vanlam1412/"
        />
      </div>
    </div>
  </body>
</html>
